@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Arlington's Fastest Delivery App</h1>
<br>
<br>

<div>
  <form action="/user/loginuser" method="get">
    @* @Html.HiddenFor(u => u.UserId, new { Value = "UserId" }) *@
    <button type="submit">login as client</button>
  </form>
  <br>
  <br>  
</div>

<div>
  <form action="/store/loginstore" method="get">
    @* @Html.HiddenFor(u => u.UserId, new { Value = "UserId" }) *@
    <button type="submit">login as pizzeria</button>
  </form>
  <br>
  <br>  
</div>





@* <div>

<a href="/user/loginuser">login as client</a>

</div>


<div>

<a href="/account/login">login</a>

</div> *@


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
