<head>
  <style>
    button{
      color: white;
      background-color: darkgreen;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkgreen;
      border-style: solid;
      border-width: 2px;
    }
    .line{
      background-color: brown;
      color: brown;
    }
    img{
      text-align: center;
      max-width: 65%;
      padding-left: 30%;
      margin-left: auto;
      margin-right: auto;
    }
    .welcome{
      text-align: center;
      color: red;
      height: 60px;
    }
    table{
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="welcome">Welcome to Arlington's Fastest Delivery App</h1>
<br>
<br>

<table>
  <tr>
    <td>
      <h4>
        <form action="/user/loginuser" method="get">
          <button type="submit">Login as client</button>
        </form>
      </h4>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <h4>
       <form action="/store/loginstore" method="get">
          <button type="submit">Login as pizzeria</button>
        </form> 
      </h4>
    </td>
  </tr>
</table>



<img src="https://thumbs.dreamstime.com/b/pizza-vegetables-cartoon-28131240.jpg" alt="delicious vegan pizza">


