<head>
  <style>
    img{
      text-align: center;
      max-width: 60%;
      padding-left: 35%;
    }
    h1{
      color: red;
      text-align: center;
    }
    button{
      color: white;
      background-color: darkgreen;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkgreen;
      border-style: solid;
      border-width: 2px;
    }
    table td, table th {
      font-size: 1em;
      padding: 5px 7px 5px 7px;
    }
  </style>
</head>

@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "choose a pizzeria";
}

<h1>We are sorry @Model.ClientName, within the first 24 hours you can only make an order from the same pizzeria</h1>

<br>
<table>
  <tr>
    <td>
      <form action="/user/choosepizzeria" method="post">
         <button type="submit">Choose another pizzeria</button>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/menuclient" method="post">
        <button type="submit">Back to menu</button>
      </form>
    </td>
  </tr>
</table>

<img src="http://clipartmag.com/images/pizza-cartoon-14.jpg" alt="delicious vegan pizza">