@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "choose a pizzeria";
}

<h1>We are sorry @Model.ClientName, within the first 24 hours you can only make an order from the same pizzeria</h1>

<br>
<form action="/user/choosepizzeria" method="post">
  <button type="submit">choose another pizzeria</button>
</form>
<br>

<br>
<form action="/user/menuclient" method="post">
  <button type="submit">back to menu</button>
</form>
<br>