@model PizzaBox.Client.Models.OrderViewModel

@{
    ViewData["Title"] = "can't remove pizza";
}

<h1 style="text-align:center">@Model.Client.Name, there are no more pizzas to remove</h1>

<br>
<form action="/user/previeworder" method="post">
  <button type="submit">add a pizza</button>
</form>
<br>

<br>
<form action="/user/menuclient" method="post">
  <button type="submit">back to menu</button>
</form>
<br>

