@model PizzaBox.Client.Models.UserViewModel

<h1 style="text-align:center">Bye @Model.Name, hope to see you soon!</h1>


@* <br>
<br> 
<br>
<form action="/home/index" method="get">
  <h4><input type="submit" value="Home"></h4>
</form> *@