@{
    ViewData["Title"] = "Past Orders";
}

<h1>Orders from which period?</h1>

<div>

<a href="/order/ClientAllOrders">All orders</a>

</div>

<div>

<a href="/user/Days7Orders">Orders from the last 7 days</a>

</div>

<div>

<a href="/user/Days30Orders">Orders of the last 30 days</a>

</div>