@model PizzaBox.Client.Models.UserViewModel

@{
  var u = ViewBag.Message;
}

<h1 style="text-align:center">What would you like to do?</h1>
<br>
<br>

<table style="margin-left:auto;margin-right:auto;">
  <tr>
    <td>
      <form action="/user/history" method="get">
        @Html.HiddenFor(model => model.UserId)
        <h3><input type="submit" value="View my past orders"></h3>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/choosepizzeria" method="get">
        @Html.HiddenFor(model => model.UserId)
        <h3><input type="submit" value="Make an order"></h3>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/logoutuser" method="get">
        @Html.HiddenFor(model => model.UserId)
        <h3><input type="submit" value="Logout"></h3>
      </form>
    </td>
  </tr>
</table>
