<head>
  <style>
    img{
      text-align: center;
      max-width: 70%;
      padding-left: 30%;
    }
    h1{
      color: red;
      text-align: center;
    }
    h3{
      color: darkgreen;
    }
    input{
      color: white;
      background-color: darkgreen;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkgreen;
      border-style: solid;
      border-width: 2px;
    }
    table td, table th {
      font-size: 1em;
      padding: 5px 7px 5px 7px;
    }
  </style>
</head>

@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "View Inventory";
}

<h1>Inventory</h1>
<br>

<form action="/store/menupizzeria" method="post">
  <h4><input type="submit" value="Back to menu"></h4>
</form>
<br>

<table>
  <th>
    <tr>
      <td>
        <h3>Qty</h3>
      </td>
      <td></td>
      <td>
        <h3>Pizza Name</h3>
      </td>
    </tr>
  </th>
  @for (int i = 0; i < Model.Inventory.Count; i+=2)
  {
    <tr>
      <td>
          <h5>@Html.DisplayFor(modelItem => Model.Inventory[i])</h5>
      </td>
      <td></td>
      <td>
          <h5>@Html.DisplayFor(modelItem => Model.Inventory[i+1])</h5>
      </td>
    </tr>
  }        
</table>


