@model PizzaBox.Client.Models.StoreViewModel

@{
  var s = ViewBag.Message;
}

<h1>what would you like to do?</h1>
<br>
<br>

<div>
  <form action="/store/history" method="get">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">order history</button>
  </form>
  <br>
  <br>  
</div>

<div>
  <form action="/store/salesandrevenue" method="get">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">view sales and revenue</button>
  </form>
  <br>
  <br>  
</div>

<div>
  <form action="/store/pizzeriainventory" method="get">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">view inventory</button>
  </form>
  <br>
  <br>  
</div>

<div>
  <form action="/account/logout" method="get">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">logout</button>
  </form>
</div>
