@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "Past Orders";
    //var u = ViewBag.Message;
}

<h1>orders from which period?</h1>
<br>
<br>

<div>
  <form action="/store/storeallorders" method="post">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">all orders</button>
  </form>
  <br>
  <br>
</div>

<div>
  <form action="/store/days7orders" method="post">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">orders from the last 7 days</button>
  </form>
  <br>
  <br>
</div>

<div>
  <form action="/store/days30orders" method="post">
    @Html.HiddenFor(s => s.StoreId, new { Value = "StoreId" })
    <button type="submit">orders from the last 30 days</button>
  </form>
  <br>
  <br> 
</div>


<div>
  <form action="/store/menupizzeria" method="post">
    <button type="submit">back to menu</button>
  </form>
</div>